@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.redes-sociales {
  position: fixed;
  display: flex;
  margin-right: 20px;
  margin-top: 120px;
  z-index: 2;
}

.redes-sociales li {
  position: relative;
  list-style: none;
  margin: 5px;
}

.redes-sociales li a {
  position: relative;
  width: 65px;
  height: 65px;
  display: inline-block;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  alingn-items: center;
  text-decoration: none;
  color: white;
  font-size: 2em;
  border: 2px solid rgba(238, 138, 39, 0.5);
  border-right: 2px solid rgba(238, 138, 39, 0.4);
  border-bottom: 2px solid rgba(238, 138, 39, 0.4);
  backdrop-filter: blur(5px);
  transition: 0.5s;
  overflow: hidden;
}

.redes-sociales li a:hover {
  transform: translateY(-20px);
  color: #ee8a27;
}

.redes-sociales li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(150px);
  transition: 0.8s;
}

.redes-sociales li a:hover::before {
  transform: skewX(45deg) translateX(-150px);
}

::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.5vw;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(black, black, #ee8a27, black, black);
  border-radius: 25px;
}

.header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  user-select: none;
  background-color: black;
  background-image: radial-gradient(
    at 50% 150%,
    hsla(26, 80%, 48%, 1) 0,
    transparent 60%
  );
}

.header-logo img {
  width: 200px;
}

.menu-items {
  display: flex;
  list-style: none;
  user-select: none;
  padding-block: 1.25rem;
  padding-inline: 3rem;
  gap: 2rem;
  background-color: transparent;
}

.menu-items li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.menu-items li a:hover {
  color: #ee8a27;
}

.menu-items li a:focus {
  color: #ee8a27;
}

.menu-close {
  display: none;
}

.menu-icon {
  display: none;
}

@media (max-width: 1000px) {
  .header {
    alingn-items: baseline;
    z-index: 1000;
  }

  .button-web3 {
    display: none;
  }

  .menu-items {
    flex-direction: column;
    position: fixed;
    inset: 0 -10% 0 33%;
    justify-content: start;
    gap: 3rem;
    transform: translateX(100%);
    transition: 500ms;
  }

  .menu-items.active {
    transform: translateX(0);
    transition: 500ms;
  }

  .menu-close {
    display: block;
    color: white;
    cursor: pointer;
  }

  .menu-close .icon {
    font-size: 2rem;
  }

  .menu-icon {
    display: block;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 1.5rem;
  }

  .menu-icon .icon {
    font-size: clamp(3rem, 4vw + 1rem, 4rem);
  }

  .redes-sociales {
    margin-top: 400px;
    margin-right: 20px;
    flex-direction: column;
  }

  .redes-sociales li a {
    width: 55px;
    height: 55px;
  }

  .redes-sociales li a:hover {
    transform: translateX(-20px);
    color: #ee8a27;
  }
}

.gradient-bg-welcome {
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

.gradient-bg-services {
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: radial-gradient(
    at 50% 100%,
    hsla(26, 70%, 40%, 1) 0,
    transparent 50%
  );
}

.gradient-bg-transactions {
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: radial-gradient(
    at 50% 0%,
    hsla(26, 70%, 40%, 1) 0,
    transparent 50%
  );
}

.gradient-bg-footer {
  background-color: black;
  background-image: radial-gradient(
    at 50% 150%,
    hsla(26, 80%, 45%, 1) 0,
    transparent 50%
  );
}

.fila {
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botones-loteria {
  height: 40px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  color: white;
  border-radius: 25px;
  border: 2px solid #ee8a27;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.botones-loteria:hover {
  background-color: #ee8a27;
}

.boton-extra {
  height: 40px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: semibold;
  font-size: 1.4em;
  background-color: transparent;
  color: white;
  border-radius: 50px;
  border: 2px solid #ee8a27;
  margin: 5px;
  cursor: pointer;
  user-select: none;
}

.boton-extra:hover {
  background-color: #ee8a27;
}

.input-loteria {
  height: 50px;
  border-radius: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  color: white;
  padding: 10px 20px 10px 10px;
  margin: 2px solid #888;
  border: 2px solid #ee8a27;
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 0 2px white;
}

.blue-glassmorphism2 {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);

  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px black;
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 25px;
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 2px white;
}

.white-glassmorphism2 {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 25px;
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 15px black;
}

.white-menu-glass {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 25px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 15px black;
}

.gradient-bg-navbar {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 50% 150%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

.eth-card {
  background-color: hsla(29, 85%, 54%, 1);
  background-image: radial-gradient(
      at 30% 8%,
      hsla(21, 65%, 62%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 44% 87%, hsla(27, 83%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 81% 47%, hsla(340, 60%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 43% 62%, hsla(300, 76%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 21% 21%, hsla(350, 77%, 69%, 1) 0px, transparent 50%);
  box-shadow: 0 0 15px black;
}

.dice-card {
  background-color: hsla(29, 85%, 54%, 1);
  background-image: radial-gradient(
      at 30% 8%,
      hsla(21, 65%, 62%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 44% 87%, hsla(27, 83%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 81% 47%, hsla(340, 60%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 43% 62%, hsla(300, 76%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 21% 21%, hsla(350, 77%, 69%, 1) 0px, transparent 50%);
  box-shadow: 0 0 15px black;
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(
      at 4% 36%,
      hsla(0, 0%, 100%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
